.App {
  text-align: center;
}

header
{
  margin-top: 33px;
  
}
.label1{
  color: black;
  font-size: 1.2em;
  margin: 3px;
}
.input-search
{
  width: 200px;
  height: 20px;
}

.button-search{
  height: 37px;
  width: 65%;
  margin: 3px;
  background-color: #91DDEC;
}
.main-container
{
  width: 100vw;
}
.header strong, span,select{
    margin:5px;
}
.card-main
{
  width: 65%;
  border-radius: 5;
  border: solid 1px black;
  margin: 10px auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  color: black;
}

.card-hedaer {
  display:flex;
}
.card-footer
{
  text-align: right;
  padding:5px;
}

.card-tag {
  padding: 5px;
}

.card-sentiment img{
  width: 22px;
  height: 22px;
  padding-top: 5px;
}

th{
  font-weight: normal;
}

.dashboard{
  width: 65%;
  text-align: center;
  background-color: #EFEFEF;
  border: solid 1px;
  margin: 0 auto;
  border-radius: 4px;
}